<footer class="text-light fw-bold" style="margin: 230px 800px 0 20px; 
background-color: rgba(0, 0, 0, 0.3); 
width: 250px; 
height: 60px;
 border-radius: 5px;"><p class="mb-0">Code Style 2022 <i class="bi bi-code fs-4"></i></p>
 <p><i class="bi bi-c-circle"></i> CSC</p></footer>

</body>
</html>
