.container{
    max-width: 400px;
    margin: 10vh auto 0 auto;
    box-shadow: 0px 0px 20px 5px rgb(151, 144, 144);
}
#display{
    text-align: right;
    height: 70px;
    line-height: 70px;
    font-size: 25px;
    padding: 16px 8px;
}
.buttons{
    display: grid;
    grid-template-columns: auto auto auto auto;
    
    
}
.button{
    border: 1px solid #999;
    line-height: 100px;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
}
#equal{
    background-color: rgb(212, 75, 87);
    color: white;
}
.button:hover{
    background-color: rgb(71, 60, 60);
    color: white;
    transition: 0.4s ease-in-out;
}