<%- include('partials/header'); %>

<header>
  <!-- <div class="smoothie">
    <img src="/image.jpeg" alt="">
  </div> -->
  <div class="headings m-5 text-light">
    <h2>Online Library</h2>
    <h3>CSA</h3>
    <a href="/students" class="btn text-light"><button class="btn btn-info">Open Library</button></a>
    <a href="/books" class="btn text-light"><button class="btn btn-info">View books</button></a>
  </div>
</header>

<script>
  document.body.style.backgroundImage = "url('../Home.jpeg')";
  document.body.style.backgroundRepeat = 'no-repeat';
  document.body.style.backgroundSize = 'cover';
</script>

<%- include('partials/footer'); %>